<p style="color: green"><%= notice %></p>

<h1>AI-OCRアプリ(自動で文字変換)</h1>

<%= link_to "New document（新しく登録する）", new_document_path %>

<div id="documents">
  <% @documents.each do |document| %>
    <%= render document %>
    <p>
      <%= link_to "Show this document（詳細を表示する）", document %>
    </p>
  <% end %>
</div>

